{{#if mensaje}}
<div>
<h1>Tu Mensaje:</h1>
<p>{{nuevoMensaje}}</p>
</div>
<button><a href="/salir">Borrar</a></button>
{{else}}
<h1>Usted no escribió un mensaje!</h1>
<button><a href="/">Volver a pagina principal</a></button>
{{/if}}

